{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_player_fullpage' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_player_fullpage' %}

<!-- widgets -->
{% hockeydata_widget domNode='#player' widgetName='hockeydata.los.Player.FullPage' divisionId=divId playerId=playerId gameLink='/game_report/%s/' teamLink='/team_fullpage/%s' %}

{% endblock %}

<h3>{% block title %}Full Player{% endblock %}</h3>

{% block content %}
<div id="player"></div>
{% endblock %}