{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_game_fullreport' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_game_fullreport' %}

<!-- widgets -->
{% hockeydata_widget domNode='#gamereport' widgetName='hockeydata.los.Game.FullReport' divisionId=divId gameId=gameId autoReload=True teamLink='/team_fullpage/%s/' playerLink='/full_player/%s/' %}

{% endblock %}

<h3>{% block title %}Game Full Report Widget{% endblock %}</h3>

{% block content %}
<div id="gamereport"></div>
{% endblock %}