{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_gameslider' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_gameslider' %}

<!-- widgets -->
{% hockeydata_widget domNode='#gameslider' widgetName='hockeydata.los.GameSlider' showTeamShortName=True showDivisionName=True gameLink='/game_livebox/%G/%D' gameLinkFromCallback=True %}

{% endblock %}

<h3>{% block title %}Game Slider Widget with Link to Live Box{% endblock %}</h3>

{% block content %}
<div id="gameslider"></div>
{% endblock %}