{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_leaders' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_leaders' %}
{% endblock %}

<h3>{% block title %}Player Statistics{% endblock %}</h3>

{% block content %}

<div>
    {% hockeydata_widget widgetName='hockeydata.los.Leaders' divisionId='nev-vln-hr' type='FieldPlayers' rowLink='/full_player/%s' %}
</div>

{% endblock %}