{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<script>
// sample paint() callback method
var mypaint = function (data) {
    console.log('Widget is rendered, you can do some javascript here...');
    console.log(data);
}
</script>


<!-- Hockeydata css -->
{% hockeydata_css 'los_leaders' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_leaders' %}

<!-- widgets -->
{% hockeydata_widget domNode='#fieldPlayers' widgetName='hockeydata.los.Leaders' divisionId=divId type='FieldPlayers' limit=10 rowLink='/full_player/%s/' paint='mypaint' %}
{% hockeydata_widget domNode='#goalKeepers' widgetName='hockeydata.los.Leaders' divisionId=divId type='Goalkeepers' rowLink='/full_player/%s/' %}
{% hockeydata_widget domNode='#badBoys' widgetName='hockeydata.los.Leaders' divisionId=divId type='BadBoys' limit=10 rowLink='/full_player/%s/' %}

{% endblock %}

<h3>{% block title %}Player Statistics{% endblock %}</h3>

{% block content %}

<h4>Field Players</h4>
<div id="fieldPlayers">
</div>

<h4>Goal Keepers</h4>
<div id="goalKeepers">
</div>

<h4>Bad Boys</h4>
<div id="badBoys">
</div>

{% endblock %}