{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_schedule' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_schedule' %}

<!-- widgets -->
{% hockeydata_widget domNode='#schedule' widgetName='hockeydata.los.Schedule' divisionId='nev-vln-hr' rowLink='/game_report/%s' %}

{% endblock %}

<h3>{% block title %}Schedule Widget{% endblock %}</h3>

{% block content %}
<div id="schedule"></div>
{% endblock %}