{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_gameslider' 'los_standings' %} <!-- you can set multiple options for css or js -->
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_gameslider' 'los_standings' %}

<!-- widgets -->
{% hockeydata_widget domNode='#gameslider' widgetName='hockeydata.los.GameSlider' divisionId=divId showTeamShortName=True showDivisionName=True gameLink='/game_report/%s/' %}
{% hockeydata_widget domNode='#standings' widgetName='hockeydata.los.Standings' divisionId=divId showTeamShortName=True rowLink='/team_fullpage/%s/' %}

{% endblock %}

<h3>{% block title %}Game Slider with Standings Widget{% endblock %}</h3>

{% block content %}
<div id="gameslider"></div>
<div id="standings" style="margin-top:20px;"></div>
{% endblock %}