{% extends 'base.html' %}
{% load i18n static widget_tags %}

{% block extra_head_content %}
{{ block.super }}
<!-- Hockeydata css -->
{% hockeydata_css 'los_team_fullpage' %}
<!-- custom widget css -->
<link href="{% static 'js/style.css' %}" rel="stylesheet">

<!-- Hockeydata Javascript -->
{% hockeydata_js 'los_team_fullpage' %}

<!-- widgets -->
{% hockeydata_widget domNode='#team' widgetName='hockeydata.los.Team.FullPage' divisionId='<divisionID>' teamId=teamId gameLink='/game_report/%s/' playerLink='/full_player/%s/' %}

{% endblock %}

<h3>{% block title %}Team Full Page Widget{% endblock %}</h3>

{% block content %}
<div id="team"></div>
{% endblock %}